* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100%;
}

header {
  height: 90vh;
  width: 90%;
  margin: 0 auto;
  background: rgb(237, 189, 189);
  border-radius: 10px;
  margin-top: 40px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
}
header nav .logo h1 {
  margin: 0;
  font-size: 40px;
  font-weight: bold;
  margin-left: 60px;
}
header nav .logo h1 span {
  color: tomato;
}
header nav ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 28px;
}
header nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  text-transform: capitalize;
}
header nav .btn {
  background: #D34726;
  padding: 8px 20px;
  color: white;
  cursor: pointer;
  margin-right: 80px;
}
header nav .hire {
  display: none;
}
header nav .btn:hover {
  cursor: pointer;
  background: #D34726;
  color: white;
}
header nav .btn:active {
  background: green;
  color: #f0c2c2;
}
header .container_content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container_content img {
  height: 400px;
  width: 300px auto;
  margin-right: 100px;
}
header .container_content .content {
  margin-top: 100px;
  margin-left: 40px;
  width: 34%;
}
header .container_content .content h2 {
  font-size: 40px;
  color: #000;
  font-weight: 600;
}
header .container_content .content h2 span {
  color: #bf2c0b;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
}
header .container_content .content p {
  text-transform: capitalize;
}
header .container_content .content .btn {
  background: #D34726;
  padding: 8px 20px;
  color: white;
  cursor: pointer;
}
header .container_content .content .download {
  display: none;
}
header .container_content .content .social {
  margin-top: 20px;
}
header .container_content .content .social a {
  margin-left: 20px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6392156863);
}

.about {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about img {
  width: 300px;
  margin-left: 200px;
}
.about .about_content {
  width: 40%;
  height: auto;
}
.about .about_content h1 {
  font-size: 60px;
}
.about .about_content h1 span {
  color: #bf2c0b;
  font-weight: 800;
}
.about .about_content .js_cnt h3 {
  text-transform: capitalize;
  display: none;
}

.contact_me {
  width: 100%;
  height: 100vh;
  border: 1px solid #888;
  text-align: center;
}
.contact_me h1 {
  color: #bf2c0b;
  font-size: 60px;
  margin-top: 40px;
  font-weight: 600;
}
.contact_me .my_name {
  text-transform: uppercase;
  color: green;
  font-weight: bold;
}
.contact_me h3 {
  color: #031321;
  margin-bottom: 20px;
}
.contact_me .social a {
  margin-left: 20px;
  color: #666;
  font-size: 30px;
}
.contact_me .contact_way {
  text-align: center;
}
.contact_me .contact_way h2 {
  text-align: left;
  margin-left: 140px;
  margin-bottom: 10px;
}
.contact_me .contact_way textarea {
  width: 80%;
  margin: 0 auto;
  outline: none;
}
.contact_me .contact_way textarea:focus {
  border: 2px solid green;
  background: whitesmoke;
}
.contact_me .contact_way .btn {
  padding: 8px 20px;
  color: white;
  cursor: pointer;
  transform: translateX(480px);
  margin-top: 10px;
}

.footer {
  width: 100%;
  height: 80vh;
  background: #060E25;
  display: flex;
  align-items: center;
}
.footer h2 {
  color: honeydew;
  text-transform: capitalize;
}
.footer ul {
  margin-left: 40px;
}
.footer li {
  list-style: none;
  display: block;
  font-size: 16px;
}
.footer li a {
  text-decoration: none;
  text-transform: capitalize;
  color: honeydew;
  cursor: pointer;
}
.footer .last_ul {
  width: 30%;
  margin-left: 140px;
}
.footer .last_ul p {
  color: honeydew;
}
.footer .last_ul .input input {
  border-radius: 8px;
  background: #060E25;
  color: honeydew;
  outline: none;
  padding: 4px 0;
  border: 1px solid honeydew;
  margin-right: 6px;
}
.footer .last_ul .input input::-moz-placeholder {
  color: honeydew;
}
.footer .last_ul .input input::placeholder {
  color: honeydew;
}
.footer .last_ul .input button {
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}
.footer .last_ul .social {
  margin-top: 20px;
}
.footer .last_ul .social a {
  margin-left: 10px;
  color: honeydew;
  cursor: pointer;
  font-size: 20px;
}

.last_p {
  text-align: center;
  font-size: 24px;
  color: #060E25;
  display: block;
}
.last_p span {
  color: #bf2c0b;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */